@model MyIndeed.Models.Job
@{
    ViewBag.Title = "Description";
}
<style>
    p {
        word-wrap: break-word;
    }
</style>
<h1>@Model.Name</h1>

<p>@Model.Description</p>
<button class="btn btn-primary">apply</button>